---
layout: page
title: İletişim ve Konum
permalink: /iletisim/
---
  <div class="contact-head">
    {% if site.data.settings.contact.description %}
    <p class="contact-description">{{site.data.settings.contact.description}}</p>
    {% endif %}
  </div>
  
<h2>Klinik Adresi ve İletişim Numaraları</h2>
<b>Adres:</b> Hurmalı Mahallesi Kurtuluş Caddesi No:39 <b>Central Plaza Kat:6 Daire:62</b>, 01060, Seyhan/ADANA<br>
<b>Telefon ve Whatsapp:</b> <a href="tel:+905510334896" title="Ara">0(551) 033 48 96</a><br>
<b>E-Posta:</b> <a href="mailto:bilgi@moodstim.com.tr" title="E-Posta İletisi Gönder">bilgi@moodstim.com.tr</a>
<br><br>

<h2>Konum ve Ulaşım Bilgileri</h2>
Kliniğimiz Adana'da merkezi bir konumda yer almaktadır ve şehir içi ulaşım ağlarına çok yakın konumda yer almaktadır.
<br><br>Kuzey Adana'dan gelenler için <b>Metro İstiklal Gazileri istasyonuna 4-5 dakika yürüme mesafesinde</b>, Adana'nın hemen her yerinden gelenler için şehir içi dolmuş ve otobüs ağının yaygın olarak geçtiği <b>Çetinkaya Kuruköprü şubesine 3 dakika yürüme mesafesinde</b>, Seyhan Belediyesi'ne 1 dakika, Ziyapaşa Bulvarına 7 dakika yürüme mesafesinde, <b>İstiklal Tıp Merkezi</b>'nin hemen yanında yer almaktadır.
<br><br>Özel aracı ile gelenler için <b>park sorunu bulunmamaktadır</b>, plazanın 2000 m2 açık otoparkında günün her saatinde park yeri bulunabilmektedir.
<br><br>Konum ve ulaşım konusundaki sorularınız için telefonla arayarak iletişime geçebilirsiniz.<b> Aşağıdaki haritada yol tarifine tıklayıp</b> navigasyonu kullanarak kliniğe ulaşabilirsiniz.
<br><br>Lütfen randevunuzdan 5-10 dakika önce gelerek randevu saatinde klinikte kayıt işlemlerini tamamlayarak hazır bulununuz.
<br><br>

Google Harita

<br><br>
<h2>İletişim Formu</h2>

<div class="form-box">

  <form class="form" action="{% if site.data.settings.contact.email %}https://formspree.io/f/{{site.data.settings.contact.email}}{% else %}#{% endif %}" method="POST">
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-name">Adınız Soyadınız</label>
      <input class="form__input" id="form-name" type="text" name="name" placeholder="Adınız Soyadınız" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-email">E-posta Adresiniz</label>
      <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="E-posta Adresiniz" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-text">Mesajınız</label>
      <textarea class="form__input" id="form-text" name="text" rows="7" placeholder="Mesajınız" required></textarea>
    </div>
    <div class="form__group">
      <button class="button button--primary" type="submit">Mesajı Gönder</button>
    </div>
  </form>
</div>