---
layout: default
title: Klinik Ekibimiz
description: Adana psikiyatri kliniğimizde; <b>erişkin psikiyatristi ve klinik psikologtan</b> oluşan her biri alanında uzman ekibimizle hizmet veriyoruz.
---

<div class="container">
  <div class="page-section-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.ekip.ekip__title }}{% endif %}</h1>
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% else site.data.settings.ekip.ekip__description %}
      <p class="page-description">{{ site.data.settings.ekip.ekip__description }}</p>
    {% endif %}
  </div>
</div>

<div class="work-page container animate">
  <div class="row">
    {% for ekip in site.ekip reversed %}
      <article class="work col col-4 col-d-6 col-t-12">
        <div class="work__content">
          <a href="{{ ekip.url | relative_url }}" class="work__image">
            <img class="lazy" data-src="{{ ekip.image | relative_url }}" alt="{{ ekip.title }}">
          </a>
          <div class="work__info">
            {% if ekip.category %}
            <div class="work__category">{{ ekip.category }}</div>
            {% endif %}
            <h3 class="work__title"><a href="{{ ekip.url | relative_url }}">{{ ekip.title }}</a></h3>
            {% if ekip.description %}
            <p class="work__description">{{ ekip.description }}</p>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>