---
layout: default
---

<div class="work-head">
  <div class="container">

    <div class="row">
      {% if page.image %}
      <div class="col col-5 col-d-12">
        <div class="work-head__left">
          <div class="work-head__image">
            <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
          </div>
          {% if page.image_caption %}
          <div class="page-image-caption">{{ page.image_caption | markdownify | replace: '<p>' | replace: '</p>' }}</div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <div class="col col-7 col-d-12">
        <div class="work-head__right">
          {% if page.category %}
          <div class="work-category">{{ page.category }}</div>
          {% endif %}
          <h1 class="page-title">{{ page.title }}</h1>
          {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
          {% endif %}
          <ul class="work-meta list-reset">
            {% if page.client %}
            <li class="work-meta__item"><strong>Görevi:</strong> <span>{{ page.client }}</span></li>
            {% endif %}
            {% if page.role %}
            <li class="work-meta__item"><strong>İlgi Alanları:</strong> <span>{{ page.role }}</span></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container animate">

  <div class="page">
    {{ content }}
  </div>

</div>